<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.awesome.kuibuservice.mapper.KuibuInfoMapper">

    <resultMap id="BaseResultMap" type="com.awesome.kuibuservice.model.entity.KuibuInfo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="taskId" column="task_id" jdbcType="BIGINT"/>
            <result property="count" column="count" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,task_id,count,
        user_id,create_time,update_time
    </sql>


    <select id="selectDataGroupByDate" resultType="com.awesome.kuibuservice.model.dto.TaskDateGroupDto">
        SELECT task_id as taskId, date_format(create_time, '%m-%d') as date, sum(count) as value
        FROM kuibu_info
        WHERE create_time > #{startDate}
        AND task_id IN
        <foreach item="taskId" collection="taskIds" open="(" separator="," close=")">
            #{taskId}
        </foreach>
        GROUP BY task_id, date_format(create_time, '%m-%d')
    </select>

</mapper>
